.con-1{
    border-top: 0.7rem solid  rgb(209, 48, 75);
    width: fit-content;
    font-size: 5rem;
    margin-left: 3rem;
    text-wrap: wrap;
}
.con-5{
    text-decoration: none;
    font-size: 3rem;
    color: white;
}
.con-2{
    color: white;
    background-color: black;
}
.con-3{
    font-size: 3rem;
}
.con-6{
    font-size: 2rem;
    width: fit-content;
    border-bottom: 0.3rem solid rgb(209, 48, 75);
}